body {
    background: white;
}

#navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px;
    margin-left: 40px;
    margin-right: 40px;
    list-style: none;
    background: #386665;
    border-radius: 10px;
}

#navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

#websiteLogo li {
    display: inline-block;
    margin: 0 10px;
}

#navigation li {
    display: inline-block;
    margin: 0 10px;
}

#footerContact li {
    display: inline-block;
    margin: 0 10px;
}

#navigation ul {
    font: bold 14px arial;
    text-transform: uppercase;
}

#navigation a:hover {
  background: #f77e05;
  box-shadow: inset 0 0 60px 1px rgba(0, 0, 0, .3);
}

#navigation li a {
    border-radius: 25px;
}

.footer {
    background: silver;
}

#headline {
    display: flex;
    justify-content: center;
    align-content: center;
}

#footerContact {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 30px;
    list-style: none;
    background: white;
    border-radius: 10px;
}

#footerContact a {
    background: silver;
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}

#footerContact a:hover {
    background: #f77e05;
    box-shadow: inset 0 0 60px 1px rgba(0, 0, 0, .3);
}

#footerContact .footer {
    background: silver;
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}

#footerContact li a {
    border-radius: 25px;
}

#footerContact li footer {
    border-radius: 25px;
}



